<div id="accordion" *ngIf="posts.length">
  <ng-container *ngFor="let post of posts">
    <div class="card">
      <div class="card-header">
        <a class="btn" data-bs-toggle="collapse" [attr.href]="'#tab_' + post?.id">
          {{post?.title}}
        </a>
        <div class="icons" *ngIf="userIsAuthenticated && userId === post.creator">
          <a class="fa fa-edit cursor-pointer" [routerLink]="['/edit',post.id]"></a>&nbsp;|&nbsp;
          <a class="fa fa-trash-o cursor-pointer" (click)="onDeleteClick(post.id)"></a>
        </div>
      </div>
      <div class="post-image">
        <img [src]="post.imagePath" [alt]="post.title">
      </div>
      <div attr.id="tab_{{post?.id}}" class="collapse show" data-bs-parent="#accordion">
        <div class="card-body">
          {{post?.content}}
        </div>
      </div>
    </div>
  </ng-container>
</div>
<p *ngIf="!posts.length">No posts added yet!</p>