<div class="grid-container" *ngIf="posts.length">
  <ng-container *ngFor="let post of posts">
    <div class="card grid-item">
      <div class="card-image">
        <img class="card-img-top" [src]="post.imagePath" [alt]="post.title">
      </div>
      <div class="card-body">
        <h4 class="card-title">{{post?.title}}</h4>
        <p class="card-text">{{post?.content}}</p>

        <div class="icons" *ngIf="userIsAuthenticated && userId === post.creator">
          <a class="fa fa-edit cursor-pointer" [routerLink]="['/edit',post.id]"></a>&nbsp;|&nbsp;
          <a class="fa fa-trash-o cursor-pointer" (click)="onDeleteClick(post.id)"></a>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<p *ngIf="!posts.length">No posts added yet!</p>